###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################

settings ={}
    RegExp = "RegExp::"
@
    
plugins =[{}]
    # include 'minify' plugin from plugins folder
    "minify" = "!plg:minify"
    # include 'doc' plugin from plugins folder
    "doc" = "!plg:doc"
@

tasks =[{}]
    
    build =[{}]
        
        src =[]

            !tpl:umd-header-deps.tpl.js  # include a umd-header template
            
            # core
            ./src/MOD3.js
            
            ./src/math/ModConstant.js
            ./src/math/XMath.js
            ./src/math/Range.js
            ./src/math/Phase.js
            ./src/math/Point.js
            ./src/math/Matrix.js
            ./src/math/Vector3.js
            ./src/math/Matrix4.js
            ./src/math/List.js
            
            ./src/core/Mesh.js
            ./src/core/ModifierStack.js

            # modifiers
            ./src/modifiers/Pivot.js
            ./src/modifiers/Bend.js
            ./src/modifiers/Bloat.js
            ./src/modifiers/Twist.js
            ./src/modifiers/Skew.js
            ./src/modifiers/Taper.js
            ./src/modifiers/Wheel.js
            ./src/modifiers/Break.js
            ./src/modifiers/Noise.js
            ./src/modifiers/DisplaceMap.js
            ./src/modifiers/Perlin.js

            ## IMPORTANT: Include the appropriate plugin in your application manualy (it is just one file)
            ## to avoid overloading the packaged code, the plugins are removed from the build
            
            ## Support for Three.js
            #./src/plugins/Three/Three.js
            #
            ## Support for OSG.js
            #./src/plugins/OSG/OSG.js
            #
            ## Support for J3D
            #./src/plugins/J3D/J3D.js
            #
            ## Support for CubicVR.js
            #./src/plugins/CubicVR/CubicVR.js
            #
            ## Support for Copperlicht
            #./src/plugins/Copperlicht/Copperlicht.js
            #
            ## Support for Pre3D
            #./src/plugins/Pre3D/Pre3D.js
            
            !tpl:umd-footer.tpl.js  # include a umd-footer template

        @

        # extract header from this file
        header = ./src/MOD3.js

        replace =[{}]

            "@@ROOT@@" = "this"
            "@@MODULE@@" = "MOD3"
            "@@DEPS@@"  = "Classy"
            "@@VERSION@@" = "0.6.0"
            "@@USE_STRICT@@" = '"use strict";'
            
        @

        # extract documentation
        doc ={}
            "startdoc" = "/**[DOC_MD]"
            "enddoc" = "[/DOC_MD]**/"
            "trim" = RegExp::^\s*\*[ ]?
            "output" = "./api-reference.md"
        @

        # Minify the Package (map of lists)
        minify ={}
            
            # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
            uglifyjs =[]
                -m -c
            @
            
            # Options for Java Closure Compiler (if used)
            closure =[]
                "--language_in=ECMASCRIPT5_STRICT"
            @
            
            # Options for Java YUI Compressor Compiler (if used)
            yui =[]
                --preserve-semi
            @
        
        @

        out = ./build/mod3.min.js
        
    @
    
    
    bundle =[{}]
        
        bundle =[]

            # bundle-in external dependencies
            ./build/classy.js
            ./build/mod3.min.js
            
        @


        out = ./build/mod3.bundle.js
    
    @

@
